* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body{
    background-image: url('yep.jpg');
    background-size: cover;
}

#header{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

#container {
    font-size: 20px;
    position: absolute;
    left: 23.5rem;
    text-align: center;
    padding-top: 5px;
}

label {
    font-weight: bold;
}

input {
    padding: 5px;
    font-size: 20px;
    width: 112%;
    margin: 10px;
    color: black;
}

button {
    width: 100px;
    height: 50px;
    position: absolute;
    left: 0.6rem;
    color: black;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.25s;
}

button:hover{
    background-color: black;
    color: white;
}

#result {
    display: none;
    justify-content: center;
    position: absolute;
    top: 22.7rem;
    right: 54rem;
    border: 5px solid white;
    padding: 5px;
    background-color: black;
}